<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantillaActualiza :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: headerFinal"></header>
        <section th:replace="layout/plantillaActualiza1 :: acualizar1"></section> 
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
